[user]
    name = Mike Wilkerson
    email = wilkystyle@gmail.com

[merge]
    conflictstyle = diff3

[mergetool "sublimerge"]
    cmd = subl -n --wait "$REMOTE" "$BASE" "$LOCAL" "$MERGED" --command "sublimerge_diff_views"
    keepBackup = false
    trustExitCode = false

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto

[alias]
    d = diff
    ds = diff --staged
    dt = difftool
    ed = difftool --tool=ediff
    eds = difftool --tool=ediff --staged
    latest-tag = describe --abbrev=0 --tags
    lo = log --pretty='%Cred%h%Creset | %Cgreen%ar by %an%Creset - %Cblue%s'
    st = status
    vd = difftool --tool=vimdiff
    vds = difftool --tool=vimdiff --staged

[core]
    editor = vim

[push]
    default = simple

[branch]
    autosetuprebase = always
    autosetupmerge = true
