[diff]
	tool = vimdiff
    # tool = ediff

[difftool "ediff"]
    cmd = emacs --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"

[mergetool]
    # Setting "prompt" to true because I like to do merges manually. If I
    # accidentally try to merge with a tool, seeing this prompt will alert me,
    # and I'll be able to ^C out, and do it manually.
	prompt = true

[difftool]
    # Difftool, on the other hand is a nice thing to have. Don't prompt.
	prompt = false

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto

[alias]
    vd = difftool --tool=vimdiff
    vds = difftool --tool=vimdiff --staged
    vc = !EDITOR='vim' git commit
    eds = difftool --tool=ediff --staged
    ed = difftool --tool=ediff
    d = diff
    ds = diff --staged
    ec = !EDITOR='emacs' git commit
    st = status
    lo = log --oneline
    ls = log --stat
    la = log -p
    dt = difftool
[core]
	editor = vim
