[user]
	name = Mike Wilkerson
	email = mike.wilkerson@willowtreeapps.com

[merge]
    # tool = emerge
	# tool = vimdiff
    # tool = mikediff

# [mergetool "mikediff"]
#     cmd = emacs --eval \" \
# (progn \
#   (setq ediff-quit-hook 'kill-emacs) \
#   (if (file-readable-p \\\"$BASE\\\") \
#       (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \
#                                        \\\"$BASE\\\" nil \\\"$MERGED\\\") \
#       (ediff-merge-files \\\"$LOCAL\\\" \\\"$REMOTE\\\" nil \\\"$MERGED\\\")))\"'))

[diff]
	# tool = vimdiff
    # tool = ediff

[difftool "ediff"]
    cmd = emacs --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"

[mergetool]
	prompt = false

[difftool]
	prompt = false

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
